.container {
  margin: 0 auto;
  width: 360px;
}

p {
  font-size: 14px;
  margin: 5px 0;
}

label, a {
  font-size: 14px;
}

.inputs {
  margin: 10px 0;
}

input {
  width: 75px;
}

h1 {
  text-align: center;
}

button {
  margin: 0 3px;
}

.data {
  clear: both;
  display: block;
  content: "";
}

.sub-data {
  float: left;
  width: 180px;
}

a {
  text-decoration: none;
  color: grey;
  margin-right: 30px;
}

a:visited {
  color: grey;
}

a:hover {
  color: blue;
  cursor: pointer;
}

.links {
  margin-top: 100px;
}
